<!-- <sf-soccer
  *ngIf="sport === 'soccer'"
  [matchInfo]="matchDetails.matchInfo"
  [matchDetails]="matchDetails">
</sf-soccer>

<sf-football
  *ngIf="sport === 'football'"
  [matchInfo]="matchDetails.matchInfo"
  [matchDetails]="matchDetails">
</sf-football> -->


<!-- *ngFor="let match of allMatches" -->

<section class="bracket-container">
  <section 
    *ngFor="let col of numCols; let i = index">

    <section 
      *ngFor="let x of Arr(perColumn[i]).fill(1); let j = index"
      class="match-column">
        <!-- <match 
          *ngIf="nextMatch()"
          [sport]="sport"
          [matchDetails]="nextMatch()"
          (viewResults)="openDisplay($event)"
          (closeDisplay)="closeDisplay()">
        </match> -->
      hello
    </section>
  </section>
      
  <match 
    *ngFor="let match of allMatches"
    [sport]="sport"
    [matchDetails]="match"
    (viewResults)="openDisplay($event)"
    (closeDisplay)="closeDisplay()">
  </match>

</section>

<sf-football
  *ngIf="sport === 'football' && viewResults"
  [matchInfo]="viewedMatch.matchInfo"
  [matchDetails]="viewedMatch"
  (closeDisplay)="closeDisplay()">
</sf-football>

<sf-soccer
  *ngIf="sport === 'soccer' && viewResults"
  [matchInfo]="viewedMatch.matchInfo"
  [matchDetails]="viewedMatch"
  (closeDisplay)="closeDisplay()">
</sf-soccer>