<!-- <sf-soccer
  *ngIf="sport === 'soccer'"
  [matchInfo]="matchDetails.matchInfo"
  [matchDetails]="matchDetails">
</sf-soccer>

<sf-football
  *ngIf="sport === 'football'"
  [matchInfo]="matchDetails.matchInfo"
  [matchDetails]="matchDetails">
</sf-football> -->


<section class="bracket-container">

  <sf-match
    [ngStyle]="{ width: '100%', position: 'relative' }"
    [sport]="sport"
    [matchDetails]="matchDetails"
    (viewResults)="openDisplay($event)"
    (closeDisplay)="closeDisplay()">
  </sf-match>

</section>

<sf-football
  *ngIf="sport === 'football' && viewResults"
  [matchInfo]="viewedMatch.matchInfo"
  [matchDetails]="viewedMatch"
  (closeDisplay)="closeDisplay()">
</sf-football>

<sf-soccer
  *ngIf="sport === 'soccer' && viewResults"
  [matchInfo]="viewedMatch.matchInfo"
  [matchDetails]="viewedMatch"
  (closeDisplay)="closeDisplay()">
</sf-soccer>