.match-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  // border-right: 2px solid black;
  min-height: 50px;
  position: relative;
}


.winner {
  font-size: 18px;
  width: 250px;
  position: relative;
}

.winner-text {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;    
    display: flex;
    justify-content: center;
}

.margin {
  margin-right: 20%;
}

.view-button {
  border: none;
  background: none;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 10px;
  outline: none;  
}

// .top {
//   bottom: 98%;
// }

// .tops{
//   bottom: 90%;
// }

// .mid {
//   border: 2px solid blue;
// }

// .bottom {
//   bottom: 0;
// }

.list-container {
  padding: 10px;
  position: relative;
}

.clickable:hover {
  cursor: pointer;
}


