.match-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  min-height: 50px;
  position: relative;
  // border-right: 2px solid black;
}

.winner {
  font-size: 18px;
  width: 250px;
  position: relative;
}

.winner-text {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;    
    display: flex;
    justify-content: center;
}

.margin {
  margin-right: 15%;
}

.view-button {
  border: none;
  background: none;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 10px;
  outline: none;  
}

.list-container {
  padding: 20px 0;
  position: relative;
}

.clickable:hover {
  cursor: pointer;
}


