<div class="match-info">

  <div 
    class="winner">

    <div class="winner-text">

      <button
        *ngIf="matchDetails.matchInfo"
        class="view-button"
        [ngClass]="{ clickable: matchDetails.matchInfo }"
        (click)="matchDetails.matchInfo ? toggleDisplay() : null">
        View Results
      </button>

      <span [ngClass]="{ margin: matchDetails.matchInfo }">{{ matchDetails.winner.name }}</span>
    </div>
  </div>

  <ul
    class="list-container"
    *ngIf="matchDetails">

    <li
      class="match-item"
      *ngFor="let match of matchDetails.seedMatches">

      <sf-match
        [ngStyle]="{ position: 'relative' }" 
        [matchDetails]="match"
        [sport]="sport">
      </sf-match>
    </li>


  </ul>

  <sf-sport
    [sport]="sport"
    [matchInfo]="matchDetails.matchInfo"
    [matchDetails]="matchDetails"
    (closeDisplay)="closeDisplay()"
    [viewResults]="viewResults">
  </sf-sport>
</div>
