<div class="match-info">

  <div 
    class="winner">

    <!-- [ngClass]="{ bottom: index === 1, top: index === 0 }" -->
    <div class="winner-text">

      <button
        *ngIf="matchDetails.matchInfo"
        class="view-button"
        [ngClass]="{ clickable: matchDetails.matchInfo }"
        (click)="matchDetails.matchInfo ? toggleDisplay() : null">
        View Results
      </button>

      <span [ngClass]="{ margin: matchDetails.matchInfo }">{{ matchDetails.winner.name }}</span>
    </div>
  </div>

  <ul
    class="list-container"
    *ngIf="matchDetails">

    <!-- [ngClass]="{ tops: i === 0 }" -->
    <li
      class="match-item"
      *ngFor="let match of matchDetails.seedMatches">

        <!-- [index]="i"     -->
      <sf-match
        [ngStyle]="{ position: 'relative' }" 
        [matchDetails]="match"
        [sport]="sport">
      </sf-match>
    </li>


  </ul>

  <sf-football
    *ngIf="sport === 'football' && viewResults"
    [matchInfo]="matchDetails.matchInfo"
    [matchDetails]="matchDetails"
    (closeDisplay)="closeDisplay()">
  </sf-football>

  <sf-soccer
    *ngIf="sport === 'soccer' && viewResults"
    [matchInfo]="matchDetails.matchInfo"
    [matchDetails]="matchDetails"
    (closeDisplay)="closeDisplay()">
  </sf-soccer>

</div>
