<div class="match-info">

  <div 
    class="winner">

    <div 
      class="winner-text"
      [ngClass]="{ clickable: matchDetails.matchInfo, bottom: index === 1, top: index === 0 }"
      (click)="matchDetails.matchInfo ? toggleDisplay() : null">
      {{ matchDetails.winner.name }}
    </div>
  </div>

  <ul
    class="list-container"
    *ngIf="matchDetails">

    <li
      class="match-item"
      *ngFor="let match of matchDetails.seedMatches; let i = index"
      [ngClass]="{ tops: i === 0 }">
      
      <sf-match
        [ngStyle]="{ position: 'relative' }" 
        [index]="i"    
        [matchDetails]="match"
        [sport]="sport">
      </sf-match>
    </li>


  </ul>

  <!-- <sf-football
    *ngIf="sport === 'football' && viewResults"
    [matchInfo]="matchDetails.matchInfo"
    [matchDetails]="matchDetails"
    (closeDisplay)="closeDisplay()">
  </sf-football>

  <sf-soccer
    *ngIf="sport === 'soccer' && viewResults"
    [matchInfo]="matchDetails.matchInfo"
    [matchDetails]="matchDetails"
    (closeDisplay)="closeDisplay()">
  </sf-soccer> -->

</div>
