<div class="sport-info">
  <div class="sport-header">
    <span>
      <div 
        class="stat-header"
        [ngClass]="{ 'normal': matchInfo.home.score < matchInfo.away.score }">
        {{ homeTeam.name }}
      </div>

      <div class="location">Home</div>

    </span>

    <span>
      <div 
        class="stat-header"
        [ngClass]="{ 'normal': matchInfo.away.score < matchInfo.home.score }">
        {{ awayTeam.name }}
      </div>

      <div class="location">Away</div>
      
    </span>
  </div>

  <div class="sport-item">
    <span>
      <header class="stat-header">Score</header> 
      <main>{{ matchInfo.home.score }}</main>
    </span>

    <span>
      <header class="stat-header">Score</header>
      <main>{{ matchInfo.away.score }}</main>
    </span>
  </div>

  <div class="sport-item">
    <span>
      <header class="stat-header">Touchdowns</header>
      <main>{{ matchInfo.home.touchDowns }}</main>
    </span>

    <span>
      <header class="stat-header">Touchdowns</header>
      <main>{{ matchInfo.away.touchDowns }}</main>
    </span>
  </div>

  <div class="sport-item">
    <span>
      <header class="stat-header">Field Goals</header>
      <main>{{ matchInfo.home.fieldGoals }}</main>
    </span>

    <span>
      <header class="stat-header">Field Goals</header>
      <main>{{ matchInfo.away.fieldGoals }}</main>
    </span>
  </div>

  <div class="date">Game played on {{ matchInfo.date | amDateFormat:'LL' }}</div>
</div>
